

.menu-lateral{
    width: 20vw;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;
    background: var(--color-background-main1);
    border-right: solid 0.1vw var(--color-border-main2);
}

body.night .menu-lateral{
    background: var(--color-background-main4);
    border-right: solid 0.1vw var(--color-border-main2);
}










.menu-lateral header{
    width: 100%;
    height: 30%;
    float: left;
    position: relative;
    overflow: hidden;
    border-bottom: 0.1vw solid var(--color-border-main2);
}

body.night .menu-lateral header{
    background: var(--color-background-main4);
}

.menu-lateral header .container-logo{
    width: 100%;
    height: 70%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menu-lateral header .container-logo .container-resource{
    width: 8vw;
    height: 8vw;
    top: 80%;
    left: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transform: translate(-50%,-80%);
    border-radius: 50%;
}

.menu-lateral header .container-logo .container-resource img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    object-fit: cover;
}

.menu-lateral header .container-user-name{
    width: 100%;
    height: 30%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menu-lateral header .container-user-name .content{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menu-lateral header .container-user-name .content p{
    width: auto;
    height: auto;
    top: 10%;
    left: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transform: translate(-50%,-10%);
    color: var(--color-font-main1);
    font-family: Roboto3;
}

body.night .menu-lateral header .container-user-name .content p{
    color: var(--color-font-main2);
}

.menu-lateral header .container-user-name .content p text{
    font-family: inherit;
}









.menu-lateral aside{
    width: 100%;
    height: 60%;
    float: left;
    position: relative;
    overflow: hidden;
    border-bottom: 0.1vw solid var(--color-border-main2);
}

body.night .menu-lateral aside{
    background: var(--color-background-main3);
}

.menu-lateral aside .container-list{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.menu-lateral aside .container-list ul{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow-y: auto;
}

.menu-lateral aside .container-list ul li{
    width: 100%;
    height: 4vw;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.menu-lateral aside .container-list ul li .caja-lista{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-block;
    transform: translate(-50%,-50%);
}

.menu-lateral aside .container-list ul li .caja-lista .contenedor-icon{
    width: 20%;
    height: 100%;
    left: 0;
    float: left;
    position: relative;
}

.menu-lateral aside .container-list ul li .caja-lista .contenedor-icon span{
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-block;
    transform: translate(-50%,-50%);
    color: var(--color-font-main1);
    font-size: 1.5vw;
}

body.night .menu-lateral aside .container-list ul li .caja-lista .contenedor-icon span{
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-block;
    transform: translate(-50%,-50%);
    color: var(--color-font-main3);
    font-size: 1.5vw;
}

.menu-lateral aside .container-list ul li .caja-lista .contenedor-content{
    width: 80%;
    height: 100%;
    left: 0;
    float: left;
    position: relative;
}

.menu-lateral aside .container-list ul li .caja-lista .contenedor-content .texto{
    width: 100%;
    height: 100%;
    position: inherit;
    display: inline-block;
}

.menu-lateral aside .container-list ul li .caja-lista .contenedor-content .texto p{
    width: 100%;
    height: auto;
    top: 50%;
    left: 0%;
    position: absolute;
    transform: translate(-0%,-50%);
    font-size: 1.4vw;
    color: var(--color-font-main1);
}

body.night .menu-lateral aside .container-list ul li .caja-lista .contenedor-content .texto p{
    color: var(--color-font-main2);
}










.menu-lateral footer{
    width: 100%;
    height: 10%;
    float: left;
    overflow: hidden;
}

.menu-lateral footer .contenido{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.menu-lateral footer .contenido .derechos{
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
}

.menu-lateral footer .contenido .derechos .container{
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0%;
    overflow: hidden;
    position: relative;
    transform: translate(0%,-50%);
}

.menu-lateral footer .contenido .derechos .container p{
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    transform: translate(-50%,-50%);
}

.menu-lateral footer .contenido .derechos .container p text{
    font-size: 0.8vw;
    color: var(--color-font-main3);
}

body.night .menu-lateral footer .contenido .derechos .container p text{
    color: var(--color-font-main2);
}

.menu-lateral footer .contenido .acciones{
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}

.menu-lateral footer .contenido .acciones .boton{
    width: 50%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
}

.menu-lateral footer .contenido .acciones .boton .interno{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.menu-lateral footer .contenido .acciones .boton .interno span{
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    font-size: 1.4vw;
    cursor: pointer;
    color: var(--color-font-main3);
    transform: translate(-50%,-50%);
}

body.night .menu-lateral footer .contenido .acciones .boton .interno span{
    color: var(--color-font-main2);
}

body.night .menu-lateral footer .contenido .acciones .boton .interno.dayNight span{
    color: var(--color-3);
}








main{
    width: 55vw;
    height: 100vh;
    float: left;
    position: relative;
    overflow: hidden;
}

main .container{
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    overflow: auto;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

main .main-dropper{
    width: 90%;
    height: auto;
    min-height: 200%;
    top: 0%;
    left: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 2vw 2vw;
    transform: translate(-50%,-0%);
    border: solid 0.1vw var(--color-border-main2);
    border-radius: 3vw;
    background: #dedede;
    box-shadow:  0.5vw 0.5vw 3vw #bebebe,
             -0.5vw -0.5vw 3vw 0.5vw #ffffff;
}

body.night main .main-dropper{
    background: #4c4c4c;
    box-shadow:  0.5vw 0.5vw 0vw #919191,
             -0.5vw -0.5vw 0vw #2e2e2e;
}










.menu-elementos{
    width: 25vw;
    height: 100vh;
    overflow: hidden;
    display: inline-block;
    border-left: solid 0.1vw var(--color-border-main2);
}

body.night .menu-elementos{
    background: var(--color-background-main3);
    border-left: solid 0.1vw var(--color-border-main2);
}

.menu-elementos .container{
    width: 100%;
    height: 100%;
    overflow: auto;
}





